[Desktop Entry]
Version=1.0
Type=Application
Name=Linotepad
GenericName=Text Editor
Comment=Simple GTK text editor
Exec=linotepad %F
Icon=linotepad
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
Keywords=text;editor;notepad;
