[Desktop Entry]
Version=1.0
Type=Application
Name=LinoPad
GenericName=Text Editor
Comment=Simple GTK text editor
Exec=linotepad
Icon=linotepad
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true
Keywords=text;editor;notepad;
